@import url('//fonts.maateen.me/kalpurush/font.css');
:root{
--bs-font-Kalpurush:Kalpurush,sans-serif;
--bs-body-bg: $(body.background);
--bs-body-color: $(body.text.color);
--jt-primary: $(keycolor);
--jt-heading-color: $(posts.title.color);
--jt-heading-link: $(posts.title.color);
--jt-heading-hover: $(keycolor);
--jt-link-color: $(body.link.color);
--jt-link-hover: $(body.hover.color);
--jt-blockquote: $(posts.text.color);
--jt-btn-primary: $(posts.icons.color);
--jt-btn-primary-hover: $(labels.background.color);
--jt-btn-light-hover: $(posts.title.color);
--jt-border-light: $(border.color);
--jt-bg-light: #f3f7f9;
--jt-archive-bg: #ffffff;
--jt-nav-color: $(tabs.color);
--jt-nav-hover: $(tabs.hover);
--jt-nav-selected: $(tabs.selected.color);
--jt-dropdown-bg: $(dropdown.bg);
--jt-dropdown-color: $(dropdown.color);
--jt-dropdown-hover: $(dropdown.hover);
--jt-dropdown-selected: $(dropdown.selected);
--jt-header-bg: $(header.bg);
--jt-header-color: $(header.color);
--jt-header-border: $(header.border);
--jt-footer-bg: $(footer.bg);
--jt-footer-color: $(footer.color);
--jt-footer-link: $(footer.link);
--jt-footer-border: $(footer.border);
--jt-socket-bg: $(socket.bg);
--jt-socket-color: $(socket.color);
--Sdz-bg: #E5E6EB;
--Sdz-box: 2px 2px 5px #b8b9be, -3px -3px 7px #ffffff;
--Sdz-box2: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
--accent: #000000;
--accent-hover: #212529;
--text: #333;
--bg: #fff;
--shadow: rgba(0, 0, 0, 0.1);
--Sdz-bg: #E5E6EB;
--dznM-bg:#E5E6EB;
--dznM-box:8px 8px 16px 0 rgba(0,0,0,.25),inset -8px -8px 16px 0 rgb(163,177,198,0.6);
}
.dark-mode {
--bs-body-bg: hsl(210, 11%, 15%);
--bs-body-color: hsl(210, 11%, 80%);
--jt-heading-color: hsl(210, 11%, 80%);
--jt-heading-link: hsl(210, 11%, 80%);
--jt-btn-light-hover: hsl(210, 11%, 85%);
--jt-border-light: hsl(210, 11%, 20%);
--jt-bg-light: hsl(210, 11%, 20%);
--jt-archive-bg: hsl(210, 11%, 17%);
--jt-nav-color: hsl(210, 11%, 70%);
--jt-dropdown-bg: hsl(210, 11%, 18%);
--jt-dropdown-color: hsl(210, 11%, 70%);
--jt-header-bg: hsl(210, 11%, 15%);
--jt-header-color: hsl(210, 11%, 80%);
--jt-header-border: hsl(210, 11%, 20%);
--jt-footer-bg: hsl(210, 11%, 15%);
--jt-footer-color: hsl(210, 11%, 80%);
--jt-footer-border: hsl(210, 11%, 20%);
--jt-socket-bg: hsl(210, 11%, 17%);
--jt-socket-color: hsl(210, 11%, 80%);
}

body {
font:normal normal 19px Kalpurush, sans-serif;
color: var(--bs-body-color);
background-color: var(--bs-body-bg);
line-height: 1.5;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
}
.d-block {
display:none;
}
.h1,.h2,.h3,.h4,.h5,.h6,
h1,h2,h3,h4,h5,h6, {
font: $(posts.title);
}
a {
transition-property: background-color, border-color, color, fill, stroke;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: .3s;
text-decoration: none;
color: var(--jt-link-color);
}
a:hover {
color: var(--jt-link-hover);
}
.fs-7 {
font-size: 0.875rem;
}
.fs-8 {
font-size: 0.75rem;
}
.fs-9 {
font-size: 0.7rem;
}
.btn{
box-shadow: none !important
}
.btn-sm {
min-width: 32px;
min-height: 32px;
}
img,
svg,
iframe {
max-width:100%
}
img {
height:auto;
object-fit:cover;
}
label {
cursor: pointer;
}
.visually-hidden {
position: unset !important;
}
.form-control:focus {
box-shadow: none;
border-color: var(--jt-primary);
}
.form-control::placeholder {
opacity: .5;
}
.dropdown-toggle::after {
border-width: 0.25em 0.25em 0;
}
.dropdown-menu {
margin: 0;
padding: 0;
}
.px-3 {
padding-right: 1rem;
padding-left: 1rem;
}
.ratio:before{
content: none;
}
.ratio-1x1 {
padding-bottom: 100%;
}
.ratio-4x3 {
padding-bottom: 75%;
}
.ratio-16x9 {
padding-bottom: 56.25%;
}
.ratio-21x9 {
padding-bottom: 43%;
}
.object-cover {
object-fit: cover;
}
.jt-text-primary,
.hover-text-primary:hover,
input:checked ~ .check-text-primary {
color: var(--jt-primary)!important
}
.jt-btn-primary,
.jt-btn-outline-primary:hover {
color: #fff;
background-color: var(--jt-btn-primary);
border-color: var(--jt-btn-primary);
}
.jt-btn-light {
color: var(--bs-body-color);
background-color: var(--jt-bg-light);
border-color: var(--jt-bg-light);
}
.jt-btn-light:hover {
color: var(--jt-btn-light-hover);
}
.jt-btn-primary:hover,
.hover-btn-primary:hover,
input:checked + .jt-btn-outline-primary {
color: #fff !important;
background-color: var(--jt-btn-primary-hover)!important;
border-color: var(--jt-btn-primary-hover)!important
}
.jt-btn-outline-primary {
color: var(--jt-btn-primary);
border-color: var(--jt-btn-primary);
}
.jt-bg-primary {
background-color: var(--jt-primary)
}
.jt-bg-light {
background-color: var(--jt-bg-light)
}
.bg-archive {
background-color: var(--jt-archive-bg)
}
.jt-border-light {
border-bottom: 3px solid var(--jt-header-bg) !important;
}
input:checked ~ .d-block-check {
display: block !important;
}
input:checked ~ .d-none-check {
display: none !important;
}
.dropdown-menu,
.accordion-item,
.accordion-header {
background-color: var(--bs-body-bg);
color: var(--bs-body-color);
border-color: var(--jt-border-light);
}
.lazyload {
transition-property: opacity;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: .3s;
opacity: 0;
}
.lazyload.loaded {
opacity: 1;
}

/* JetTheme Style */

pre {
background-color: var(--jt-bg-light);
margin-bottom: 1rem;
padding: 1rem;
font-size: 0.75rem;
}
blockquote {
border-left:  5px solid var(--jt-blockquote);
color: inherit;
font-size: 1.125rem;
margin-bottom: 1.5rem;
margin-top: 1.5rem;
padding-left: 1rem;
}
.header-animate.header-fixed {
transform: translateY(-100%);
box-shadow: none !important;
}
#header {
background: linear-gradient(135deg, #000000, #212529, #686868);
color: var(--jt-header-color);
transition-property: transform;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: .3s;
height: 50px;
border-bottom: 1px solid var(--jt-header-border);
}
.jt-icon {
display: inline-block;
height: 1.2em;
vertical-align: -0.15em;
width: 1.2em;
fill:none;
stroke:currentColor;
stroke-linecap:round;
stroke-linejoin:round;
stroke-width:2;
}
.jt-icon-center {
font-family: sans-serif;
}
.icon-dark,
.dark-mode .icon-light {
display: none;
}
.dark-mode .icon-dark {
display: block;
}
#dark-toggler {
font-size: 17px;
}
#footer {
background: linear-gradient(229deg, #121212 0%, #000000 40%, #0E475F 95%);
color: var(--jt-footer-color);
border-top: 1px solid var(--jt-footer-border);
}
#socket {
background: linear-gradient(164deg, #121212 0%, #000000 40%, #313439 95%);
color: var(--jt-socket-color);
}
#navbar {
z-index: 9999;
}
#navbar .menu-item {
position: relative;
}
#navbar .nav-link {
min-height: 40px;
}
#navbar .dropdown-toggle {
cursor: pointer;
align-items: center;
display: flex;
}
#navbar.d-block,
#navbar .dropdown-menu,
#navbar .nav-link,
#navbar .dropdown-toggle {
-webkit-transition: .3s;
-ms-transition: .3s;
-o-transition: .3s;
transition: .3s;
}
#navbar .navbar-nav > .menu-item > .nav-link {
font: $(tabs.font);
line-height: 1.5;
color: var(--jt-nav-color);
}
#navbar .navbar-nav > .menu-item:hover > .nav-link,
#navbar .navbar-nav > .menu-item:hover > .dropdown-toggle {
color: var(--jt-nav-hover);
}
#navbar .navbar-nav > .menu-item > .nav-link.active,
#navbar .navbar-nav > .menu-item > .active ~ .dropdown-toggle {
color: var(--jt-nav-selected);
}
.logo-wrap {
width: $(logo.width);
}
#search-header .dropdown-menu {
background-color:var(--jt-dropdown-bg);
color: var(--jt-dropdown-color);
border-color: var(--jt-header-border);
min-width: 300px;
right:0;
top:100%
}
.blog-admin {
display: none;
}
#pagination li + li {
margin-left: 5px;
}
.no-items {
display: none;
}
.feature-image,
.separator,
.tr-caption-container {
margin-bottom: 1rem;
}
.tr-caption-container {
width: 100%;
}
.separator a,
.tr-caption-container a {
margin: 0 !important;
padding: 0 !important;
}
.tr-caption {
font-size: 12px;
font-style: italic;
}
.widget:last-child {
margin-bottom: 0 !important;
}
#post-body .widget {
margin-top: 1.5rem;
}
.item-title {
color: var(--jt-heading-link);
}
.item-title:hover {
color: #6c757d;
}
#comment-editor{
width:100%
}
#primary .widget-title {
font-weight: 300;
text-transform: uppercase;
}
#footer .widget-title {
text-transform: uppercase;
}
#sidebar .widget-title {
font-size: 13px !important;
}
#footer .widget-title:after {
content: "";
width: 50px;
margin-top: 10px;
}
#primary .widget-title > span {
background-color: var(--bs-body-bg);
padding-right: 5px;
position: relative;
}
#main .widget-title:before,
#sidebar .widget-title:before {
background-color:  var(--jt-bg-light);
content: "";
height: 1px;
display: block;
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 100%;
}
#main .widget-title:before {
border-right: 30px solid var(--jt-primary);
height: 5px;
}
.send-success:not(.loading) .contact-form-msg,
.send-error:not(.loading) .contact-form-msg {
display:block !important;
}
.send-success .contact-form-msg{
border-color: rgba(25,135,84,.3) !important;
}
.send-error .contact-form-msg{
border-color: rgba(255,193,7,.3) !important;
}
.send-success .contact-form-msg:before{
content: attr(data-success);
}
.send-error .contact-form-msg:before{
content: attr(data-error);
}
hr.example-ads:before {
content: "Advertisement here";
}
hr.example-ads {
background-color: var(--jt-bg-light);
border-radius: 0.25rem;
font-size: 0.875rem;
height: auto;
margin: 0;
opacity: 1;
padding: 1.5rem 0;
text-align: center;
}
body > .google-auto-placed {
margin: 0 auto 1.5rem;
max-width: 1108px;
}
.google-auto-placed > ins {
margin: 0 !important;
}


/* TYPOGRAPY */

.h1,h1{font-size:calc(1.375rem + 1.5vw)}
.h2,h2{font-size:calc(1.325rem + .9vw)}
.h3,h3{font-size:calc(1.3rem + .6vw)}
.h4,h4{font-size:calc(1.275rem + .3vw)}
.h5,h5{font-size:$(title.h5)}
.h6,h6{font-size:$(title.h6)}
.entry-title {
color: var(--jt-heading-color);
}
.entry-text h1,
.entry-text h2,
.entry-text h3,
.entry-text h4,
.entry-text h5,
.entry-text h6 {
color: var(--jt-heading-color);
padding-top: 1em;
margin-bottom: 1rem;
}

.entry-text li {
margin-bottom: 0.5rem;
}

/* Responsive Style */

@media (min-width: 576px) {
.ratio-sm-4x3 {
padding-bottom: 75%;
}
.ratio-sm-16x9 {
padding-bottom: 56.25%;
}
.border-sm-end {
border-right-width: 1px !important;
border-right-style: solid;
}
#post-pager .next-page {
border-left: 1px solid;
}
}
@media (min-width: 768px) {
.position-md-relative {
position: relative;
}
.border-md-end {
border-right-width: 1px !important;
border-right-style: solid;
}
}
@media (min-width: 992px) {
.d-lg-flex {
display: flex;
}
.col-lg-4 {
flex: 0 0 auto;
width: 33.33333333%;
}
.col-lg-8{flex:0 0 auto;width:100% !important;}
.border-lg-end {
border-right-width: 1px !important;
border-right-style: solid;
}
#navbar .navbar-nav > .menu-item {
display: flex;
}
#navbar .dropdown-menu {
background-color:var(--jt-dropdown-bg);
border-color: var(--jt-header-border);
margin-top: -10px;
display: block;
opacity: 0;
visibility: hidden;
pointer-events: none;
box-shadow: 5px 10px 10px -5px rgba(0, 0, 0, 0.14);
top:100%;
min-width: 150px;
}
#navbar .dropdown-menu .nav-link {
padding-right: 20px;
font-size: $(dropdown.font);
color: var(--jt-dropdown-color);
}
#navbar .dropdown-menu .dropdown-toggle {
position: absolute;
right: 10px;
top: 20px;
}
#navbar .dropdown-menu .dropdown-menu {
left: 100%;
top: -1px;
}
#navbar .dropdown-menu .menu-item:hover > .nav-link,
#navbar .dropdown-menu .menu-item:hover > .dropdown-toggle {
color:  var(--jt-dropdown-hover);
}
#navbar .dropdown-menu .menu-item > .nav-link.active,
#navbar .dropdown-menu .menu-item > .active ~ .dropdown-toggle {
color:  var(--jt-dropdown-selected);
}
#navbar .menu-item:hover > .dropdown-menu {
opacity: 1;
visibility: visible;
pointer-events: unset;
margin: 0;
}
#navbar .navbar-nav > .menu-item > .nav-link {
padding: 1.5rem 1.2rem;
white-space:nowrap;
}
#navbar .navbar-nav > .menu-item > .dropdown-toggle {
bottom: 0;
pointer-events: none;
position: absolute;
right: 5px;
top: 3px;
}
#sidebar {
border-left: 1px solid var(--jt-border-light);
}
#footer-widget .widget {
margin-bottom: 0 !important;
}
}
@media (min-width: 1200px){
.container {
max-width: 2000px;
}
.h1,h1{font-size:$(posts.title.size)}
.h2,h2{font-size:$(title.h2)}
.h3,h3{font-size:$(title.h3)}
.h4,h4{font-size:$(title.h4)}
}
@media (min-width: 1400px) {
.container {
max-width: 1400px;
}
}
@media (max-width: 991.98px) {
input:checked ~ .dropdown-menu {
display: block;
}
input:checked + .dropdown-toggle {
color: var(--jt-dropdown-selected);
}
.logo-wrap {
width: $(logo.width.mobile);
}
#search-header .dropdown-menu{
width: 100%;
}
#navbar {
background-color: var(--jt-header-bg);
padding-top: 70px;
padding-bottom: 30px;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
width: auto;
}
#navbar.d-block {
opacity: 0;
transform: translateX(-20%);
}
#navbar.show {
transform: translateX(0);
opacity: 1;
}
#navbar .navbar-nav {
max-height: 100%;
overflow-y: auto;
}
#navbar-toggle:checked ~ #header-main #navbar {
display:block;
}
#navbar .nav-link {
border-bottom: 1px solid var(--jt-header-border);
font-size: 16px !important;
color: var(--jt-dropdown-color);
}
#navbar .menu-item:hover > .nav-link {
color: var(--jt-dropdown-hover);
}
#navbar .active > .nav-link {
color: var(--jt-dropdown-selected);
}
#navbar .dropdown-toggle {
border-left: 1px solid var(--jt-header-border);
height: 2.5rem;
padding: 0 1rem;
position: absolute;
right: 0;
top: 0;
}
#navbar .dropdown-menu {
background-color: var(--jt-dropdown-bg);
border: none;
padding-left: 10px;
}
#sidebar {
border-top: 1px solid var(--jt-border-light);
}
}
@media (max-width: 575.98px) {
.feature-posts .item-thumbnail {
margin-bottom: -150px;
}
.feature-posts .item-thumbnail a {
border-radius: 0 !important;
box-shadow: none !important;
padding-bottom: 75%;
}
.feature-posts .item-content {
background-color: var(--bs-body-bg);
border: 5px solid;
border-radius: 0.25rem;
}
#post-pager .prev-page + .next-page {
border-top: 1px solid;
}
.full-width,
.px-3 .google-auto-placed {
margin-left: -1rem;
margin-right: -1rem;
width: auto !important;
}

#footer-widget .widget {
padding-left: 3rem;
padding-right: 3rem;
}
}
.separator img{width:50%; pointer-events: none;   
   padding: 5px; 
 border: 1px solid black;
}
.separator {pointer-events: none;}
.me-22 {
    /* margin-right: .5rem !important; */
    /* min-width: 40px; */
    padding-left: 15px;
}
.me-25 {
    /* margin-right: .5rem !important; */
    /* min-width: 40px; */
    padding-left: 25px;
} 
  
.is-single #sidebar, .is-page #sidebar {display: block !important;}
.item-tag a{
    background: #f67938;
    color: #fff !important;
    display: inline-block;
    padding: 1px 6px;
    border-radius: 4px;
}

@media (min-width: 992px){
.is-single  .col-lg-8, .is-page  .col-lg-8 {
    flex: 0 0 auto;
   width: 65.666667% !important;
}
}
.px-5 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}
.Sdz2{
    padding: 5px;
    margin: 3px;
    background-color: var(--Sdz-bg)!important;
    border-color: #000000!important;
    box-shadow: var(--Sdz-box2)!important;
    border-radius: 0px!important;
    border: 3px solid! #000000 important;
}
.Sdz {
    padding: 5px;
    margin: 3px;
    background-color: var(--Sdz-bg)!important;
    border-color: #e6e7ee!important;
    box-shadow: var(--Sdz-box)!important;
    border-radius: 5px!important;
}
.item-post-11 {
    align-items: flex-start;
    transition: transform .4s ease, box-shadow .4s ease;
}

.item-post-11:hover{transform:translateY(-9px) scale(1.02);
}

#comment-button {
    width: 100% !important;
}
#comment-button1 {
    width: 100% !important;
}
.py-22 {
    width: 100% !important;
}

.border-start{
    border-left: 1px solid #000000 !important;
}
.breadcrumb {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px !important;
    border: .1px solid var(--jt-socket-bg) !important;
    border-bottom: 3px solid black !important;
}
ul.list li{flex:1 1 calc(50% - 6px);background:#fff;border-left:4px solid #000000;border-radius:0px;box-shadow:0 2px 5px rgba(0,0,0,.07);transition:.3s ease;overflow:hidden;position:relative}ul.list li:hover{background-color:#e8fbf4;transform:translateY(-4px);border-left-color:#495057;box-shadow:0 6px 14px rgba(0,0,0,.1)}ul.list li a{display:flex;justify-content:space-between;align-items:center;text-decoration:none;color:#333;padding:10px 14px;font-weight:600;font-size:15px;transition:.3s ease}ul.list li span.align-middle::before{content:"📁 ";font-size:14px}ul.list li span.fw-light{background:#f1f1f1;color:#555;font-size:12px;padding:2px 6px;border-radius:20px;transition:background .3s ease,color .3s ease}ul.list li:hover span.fw-light{background:#000000;color:#fff}@media(max-width:600px){ul.list li{flex:1 1 100%}}
#primary .widget-title>span {
    padding: 9px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #EEEEEF;
    position: relative;
    font-size: 20px !important;
    border-bottom: 3px solid #000000;
    border-left: 3px ridge #000000;
    display: block;
    text-align: justify;
    font-family: 'kalpurush';
    color: #000;
}
ul.list{padding:0;margin:0;display:flex;flex-wrap:wrap;list-style:none;gap:12px}
#post-pager .prev-page {
  display: none !important;
}
/* Animation Back To Top Button */ .abtop{display:flex;align-items:center;justify-content:center;position:fixed;right:20px;bottom:70px;width:45px;height:45px;border-radius:50%;cursor:pointer;visibility:hidden;opacity:0;z-index:5;transform:scale(0);transition:transform .3s ease, opacity .3s ease,visibility .3s ease,margin-bottom 1s ease} .abtop.vsbl{visibility:visible;opacity:1;transform:scale(1)}.abtop:hover{opacity:.8} .abtop svg{height:100% !important;width:100% !important;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);stroke-width:1.5;cursor:pointer} .abtop svg .b{fill:#fff;stroke:#e6e6e6;opacity:.9} .abtop svg .c{fill:none;stroke:#000000;stroke-dasharray:100 100;stroke-dashoffset:100;stroke-linecap:round} .abtop svg .d{fill:none;stroke:#08102b} .drK .abtop svg .b{fill:#2d2d30;stroke:#404045} .drK .abtop svg .c{stroke:#8775f5} .drK .abtop svg .d{stroke:#fffdfc}



/* Thumbnail Bookmark Button */
.thumb-box {position:relative;display:block;overflow:hidden;}
.bookmark-btn {position:absolute;display:flex;align-items:center;justify-content:center;  background:var(--bg);border:2px solid black;border-radius:50%;width:38px;height:38px;cursor:pointer;box-shadow:0 2px 5px var(--shadow);  transition:.3s;z-index:5;}
.bookmark-btn svg {width:20px !important;height:20px !important;stroke:var(--accent);fill:none;transition:.3s;}
.bookmark-btn.active svg {fill:var(--accent);}
.bookmark-btn:hover {transform:scale(1.1);}
/* Notification */
#bmNotify {position:fixed;bottom:25px;right:25px;  padding:12px 18px;border-radius:8px;  box-shadow:0 4px 10px var(--shadow);opacity:0;transform:translateY(20px);  transition:.4s;z-index:9999;font-size:14px;text-align:center;}
#bmNotify.show {opacity:1;transform:translateY(0);}
/* Navbar Bookmark Button */
.bookmark-menu {position:relative;display:inline-block;}
.bookmark-menu-btn {display: flex;    align-items: center;    justify-content: center;    background: #ffffff00;    border: none;    border-radius: 10px;    padding: 4px;    cursor: pointer;    transition: .3s;    color: inherit !important;}
.bookmark-menu-btn:hover,.bookmark-menu-btn.active {  color: black !important; }
.bookmark-menu-btn svg {width:25px;height:25px;}
#bmCount {  position:absolute;top:-5px;right:-6px;background:#fff;color:var(--accent);  border-radius:10px;font-size:12px;font-weight:700;padding:1px 5px;display:none;}
/* Dropdown */
.bookmark-list {position:absolute;right:0;top:45px;width:260px;max-height:300px;overflow-y:auto;background:var(--bg);border:1px solid #ddd;border-radius:10px;box-shadow:0 4px 12px var(--shadow);padding:10px;z-index:999;opacity:0;transform:translateY(-10px);pointer-events:none;transition:.3s;}
.bookmark-list.active {opacity:1;transform:translateY(0);pointer-events:all;}
.bookmark-item {display:flex;align-items:center;gap:8px;padding:6px 0;border-bottom:1px solid #eee;}
.bookmark-item:last-child {border:none;}
.bookmark-item img {width:40px;height:40px;object-fit:cover;border-radius:6px;}
.bookmark-item a {flex:1;color:var(--text);text-decoration:none;font-size:10px;}
.bookmark-item button {background:none;border:none;color:#999;cursor:pointer;}
.bookmark-item button:hover {color:red;}
.bookmark-item:hover {background:rgba(0,0,0,0.05);border-radius:6px;}
.bookmark-list a.show-all {text-align:center;display:block;margin-top:8px;color:var(--accent);font-weight:600;text-decoration:none;}
.bookmark-list a.show-all:hover{text-decoration:underline;}
.bookmark-list::-webkit-scrollbar{width:5px;}
.bookmark-list::-webkit-scrollbar-thumb{background:var(--accent);border-radius:5px;}
/* Responsive */
@media(max-width:768px){.bookmark-btn{width:34px;height:34px;top:8px;right:8px;}.bookmark-list{width:220px;max-height:240px;}.bookmark-menu-btn span{display:none;}}

#reading-progress-container {
position: fixed;
width: 100%;
height: 5px;
pointer-events: none;
background: linear-gradient(135deg, #000000, #212529, #686868);
top: 0;
left: 0;
z-index: 9999;
transition: opacity 0.5s;
opacity: 0;
}
#reading-progress-bar {
height: 100%;
width: 0;
pointer-events: none;
background: linear-gradient(135deg, #000000, #212529, #686868); /* Change this to your preferred color */
position: relative;
}
#reading-progress-percentage {
position: absolute;
left: 50%;
pointer-events: none;
transform: translateX(-50%);
background: linear-gradient(135deg, #000000, #212529, #686868); /* Same color as the progress bar */
color: #fff;
padding: 2px 6px;
border-radius: 12px;
font-size: 10px;
white-space: nowrap;
}

#single-content, #page-content, #HTML19, #HTML26, #HTML41, #Label10, #PopularPosts10, #comments, #post-pager, .related-posts, #LinkList1 {
border: 2px solid #000000;
background-color: var(--jt-bg-light);
border-radius: 0px;
padding: 20px;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 0px 0px, inset rgba(60, 64, 67, 0.15) 0px -1px 0px 0px !important;
}
@media (max-width: 991.98px) {
#header-main .jt-icon {
width: 1.4em;
height: 1.4em;
}
}
@media (max-width: 991.98px) {
.bookmark-menu {
position: relative;
}
}
#footer .widget-title {
padding: 9px;
font-weight: bold;
border-radius: 5px;
background: linear-gradient(229deg, #121212 0%, #000000 40%, #0E475F 95%);
position: relative;
font-size: 20px !important;
border-bottom: 3px solid #ffffff;
border-left: 3px ridge #ffffff;
display: block;
text-align: justify;
font-family: 'kalpurush';
color: #fff2f2;
}
.box3d {
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px 3px, inset rgba(60, 64, 67, 0.15) 0px -1px 20px 20px !important;
border-radius: 10px !important;
border-bottom: 3px solid black;
border-left: 3px ridge black;
}
.btn3d {
background: linear-gradient(229deg, #121212 0%, #000000 40%, #0E475F 95%);
color: white;
border: 3px ridge black;
border-radius: 0px !important;
}
.btn3d:hover{
background: linear-gradient(229deg, #121212 0%, #000000 40%, #dc3545 95%);
color: white;
border: 3px ridge black;
border-radius: 0px !important;
}

.Sdb {
    padding: 5px;
    margin: 3px;
    background-color: #E5E6EB;
    border-color: #e6e7ee;
    box-shadow: var(--Sdz-box);
    border-radius: 5px;
}



/* copy link for share */ .copy-link {  position: relative;  display: inline-flex;  align-items: center;  justify-content: center;  width: 32px;  height: 32px;  border-radius: 50%;  margin-left: 5px;  transition: all 0.3s ease;  cursor: pointer;}.copy-link:hover {  background-color: #cce6ff;  transform: scale(1.05);}.tooltip {  position: absolute;  top: -25px;  background-color: #333;  color: #fff;  padding: 3px 7px;  border-radius: 4px;  font-size: 12px;  opacity: 0;  pointer-events: none;  transition: opacity 0.2s ease;  white-space: nowrap;  z-index: 999;}.copy-link.show-tooltip .tooltip {  opacity: 1;}

.dznM{
color:var(--jt-nav-color);
background-color:var(--dznM-bg);
border-color:#e6e7ee;
box-shadow: var(--dznM-box);
border-radius:5px;
}

/* Greetings */ .pGV{display: flex;justify-content: space-between;position: relative;font-size: 13px;;border-radius: 5px;margin-bottom: 5px;padding: 10px!important;} .pGV &gt;*{padding: 0px;display: flex;align-items: center;justify-content: center;border-radius: 10px;} .pGV &gt;*:first-child{margin-right:5px} .pGV &gt;*:last-child{margin-left:5px} .Rtl .pGV &gt;*:first-child{margin-right:0;margin-left:5px} .Rtl .pGV &gt;*:last-child{margin-left:0;margin-right:5px} .pGV .pVws.hidden{display:none} .pGV .pGrt::after{content:attr(data-text)} .pGV .pVws::after{content:attr(data-text) &#39; views&#39;} .pGV svg{width:15px;height:15px;margin-right:6px;} .pGV svg.line{stroke-width:1.5} .Rtl .pGV svg{margin-right:0;margin-left:6px} .clock-container {      text-align: center;    }    .clock {      font-size: 15px;      margin: auto;    }    .visually-hidden {  position: absolute !important;  width: 1px;  height: 1px;  padding: 0;  overflow: hidden;  clip: rect(0, 0, 0, 0);  white-space: nowrap;  border: 0;}

@media (max-width: 991.98px) {
.bookmark-menu-btn svg{
width: 28px;
height: 28px;
}
}
#toc-post {
    width: 100%;
}



/* PopularPosts2 Slider */
.slider-container-2 {
  display:flex;
  overflow-x:auto;
  scroll-behavior:smooth;
  gap:15px;
  padding:10px 0;
}

.slider-item-2 {
  min-width:160px;
  flex:0 0 auto;
  position:relative;
}

.slider-item-2 img {
  width:100%;
  height:120px;
  object-fit:cover;
  border-radius:6px;
}

.slider-title-2 {
  display:block;
  margin-top:6px;
  font-size:14px;
  font-weight:600;
  line-height:1.4;
}

.slider-prev-2,
.slider-next-2 {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background:#fff;
  border-radius:50%;
  width:38px;
  height:38px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  z-index:3;
  border:1px solid #ddd;
}

.slider-prev-2 { left:0; }
.slider-next-2 { right:0; }



.vk {
color: var(--jt-header-color) !important;
}
.vk:hover{
color: var(--jt-primary) !important;
}


